.widget-gitlab-build .project, .status, .build {
  margin-bottom: 1em
}

.widget-gitlab-build .project img {
  height: 1em;
}

.widget-gitlab-build[data-status=success] {
  background-color: green;
}

.widget-gitlab-build[data-status=failure] {
  background-color: red;
}

.widget-gitlab-build[data-status=running] {
  background-color: orange;
}

.widget-gitlab-build[data-status=canceled] {
  background-color: grey;
}
