<div class="gitlab-build" data-status="">
  <h3 class="project">
    <img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.png" />
    <span></span>
  </h3>
  <h3 class="status"></h3>
  <p class="commit_message"></p>
</div>
