<% content_for :title do %>Build Monitor<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-project="Workstation" data-id="adlm_workstation_gitlab_build" data-view="GitlabBuild"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-project="Dashboard" data-id="adlm_dashboard_gitlab_build" data-view="GitlabBuild"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-prefix="$"></div>
    </li>
  </ul>
</div>
