<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gitlab_repo" data-view="List" data-title="Gitlab issues" style="background-color: #71388a"></div>
    </li>
  </ul>
</div>
